<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.1.xsd">

	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="connectionFactory"
		addresses="${jms.provider.host}" channel-cache-size="30"/>

	<rabbit:admin connection-factory="connectionFactory" />

	<!-- queue 队列声明 -->
	<rabbit:queue id="ha.1" durable="true" auto-delete="false"
		exclusive="false" name="ha.1" />
		
	

	<!-- exchange queue binging key 绑定 -->
	<rabbit:direct-exchange name="my-mq-exchange"
		durable="true" auto-delete="false" id="my-mq-exchange">
		<rabbit:bindings>
			<rabbit:binding queue="ha.1" key="ha.1_key" />
		</rabbit:bindings>
	</rabbit:direct-exchange> 
	
	<!-- spring template声明 -->
	<rabbit:template exchange="my-mq-exchange" id="amqpTemplate"
		connection-factory="connectionFactory"/>
	
</beans>
